<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">
	<script src="https://code.jquery.com/jquery.js"></script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-158591101-2', 'auto');
	ga('send', 'pageview');
	ga('require', 'GTM-K8W5WF3');
	</script>
	<!-- End Google Analytics -->

	
</head>
<body>
    <br><br><br>
    <h2  align=center>Breaktime</h2>
    <div id="body">
        <h3  align=center><u>Activity Suggestion</u></h3>
        <h3  align=center>take a walk</h3>
        {{#each suggestions}}
        		{{suggestion}}
        {{/each}}

<h3 align=center>Did you complete your goal for this work session?</h3>
		<button id="yes">Yes!</button>
		<button id="no">No! Start a new session.</button>
	</div>

	<script src="js/breaktime.js"></script>
</body>
</html>
