<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>

		<img align=right id=burgermenu src="menu.png" width="30">
<br>
<br>
<br>
    <h1  align=center>Breaktime</h1>

    <h1  align=center>Activity Suggestion</h1>
		<h1  align=center>take a walk</h1>


		
		{{#each suggestions}}
				{{suggestion}}
		{{/each}}




</div>
</body>
</html>
