<!DOCTYPE html>
<html lang="en">

<head>
<title>TimeCrunch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/index.css">
<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div id=body>
    	<h1 align=center id="congrats">congrats on finishing your task: </h1><br>
    	<div align=center>
		<img class=img-responsive id="finishstars" src="finishstars.png"><br><br>
   	</div><br>
    	<h3 align=center>see you next time!</h3><br><br>
	<div id="footer" align=center >
   		<button id="startover">start a new session</button>
	</div>
    </div>
</body>

<script src="js/finish.js"></script>
</html>
