<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="css/index.css">
<script src="https://code.jquery.com/jquery.js"></script>
</head>
  <body>

    <h2 align=center id="congrats">Congrats on finishing your task of: </h2>

    <br>
    <br>

    <h2 align=center>See you next time!</h2>
</body>

<script src="js/finish.js"></script>
</html>
