<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/index.css">
</head>
  <body>

    <h2 align=center>Congrats on finishing your task!</h2>
    <br>
    <br>
    <h2 align=center>See you next time!</h2>
</body>


</html>
