<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="css/index.css">
<script src="https://code.jquery.com/jquery.js"></script>
</head>
  <body>

    <h1 align=center id="congrats">Congrats on finishing your task of: </h1>

    <br>
    <br>

    <h1 align=center>See you next time!</h1>
    <br>
    <br>
    <button id="startover">Start a new session.</button>
</body>

<script src="js/finish.js"></script>
</html>
