<html>
<head>
	<title>Anti-Distraction App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="width:100%;height:100%;border-width:2px;border-style:solid;border-color:red;">
	<h1 align=center>Anti-Distraction App</h1>
	<div align=center style="bottom:10px"> <button> <a href=page2> Start</a> </button> </div>

</div>
</body>
</html>
