<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>

<div id="container">
	<div id="body">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1  align=center>Time Elapsed</h1>
		<div align=center id="timer">
		    <span id="hours">00:</span>
            <span id="mins">00:</span>
            <span id="seconds">00</span> 
		</div>
		<br>
		<br>
		<h1  align=center>Time Until Next Break</h1>
			<div align=center id="timer">
			    <span id="hours">00:</span>
                <span id="mins">00:</span>
                <span id="seconds">00</span> 
			</div>

	</div>
</div>
</body>
</html>
