<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>TimeCrunch</title>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-158591101-2', 'auto');
    ga('send', 'pageview');
    ga('require', 'GTM-K8W5WF3');
    </script>
    <!-- End Google Analytics -->


</head>
<body>

	<div id="timer" align=center>
	    <h1>time elapsed:</h1>
	    <h2><br>hr min sec</h2>

    	<!--timer placeholder-->
        <h2 data-chronometer>00:00:00</h2>
        <button id="play">play</button>
        <button id="pause">pause</button>
        <button id="reset">reset</button>
        <br><br>

        {{#if viewAlt}}
          <h1 align=center id="mygoal"><br>my goal: </h1>
          <h3 align=center>keep going, you can do this! </h3>
					{{else}}
          <h2 align=center id="goodgood">   </h2>
					{{/if}}

    </div><br>

    <div id="footer" align=center >
      <button id="takebreak">take a break</button>
    <button id="break"> finish </button>
	</div>
	
<script src="js/page3.js"></script>
    <!--timer script-->
    <script type="text/javascript">
        let hours = `00`,
            minutes = `00`,
            seconds = `00`,
            chronometerCall
        function chronometer() {
            seconds++
            if (seconds < 10) seconds = `0`+seconds
            if (seconds > 59) {
                seconds = `00`
                minutes ++
                if (minutes < 10) minutes = `0`+minutes
            }
            if (minutes > 59) {
                minutes = `00`
                hours ++
            }
            document.querySelector(`[data-chronometer]`)
                    .textContent = `${hours}:${minutes}:${seconds}`
        }
        play.onclick = (event) => {
            chronometerCall = setInterval(chronometer, 1000)
            event.target.setAttribute(`disabled`,``)
        }
        pause.onclick = () => {
            clearInterval(chronometerCall)
            play.removeAttribute(`disabled`)
        }
        reset.onclick = () => {
            reset.onclick = () => {
		    hours = '00',
		    minutes = '00',
		    seconds = '00'
            }
        }
    </script>

</body>
</html>
