<html>
<head>
	<title>Anti-Distraction App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">
	<script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>
	<div id="body">
		<h3  align=center>How long will you work for?</h3>
		<select class="dropdownmenu">
          <option value="1">20 minutes</option>
          <option value="2">30 minutes</option>
          <option value="3">40 minutes</option>
          <option value="4">50 minutes</option>
        </select>
		<br>
		<h3  align=center>What is your goal for this work session?</h3>
		<div align=center> <input type="text" id="goal" name="goal">
		</div>


		<form id="addSuggestionForm" role="form" method="get" action="/add">
		<h3>Do you have a breaktime suggestion?</h3>
	    <div class="form-group">
	      <label for="suggestion">Suggestion:</label>
	      <input type="text" class="form-control" id="suggestion" placeholder="suggestion" name="suggestion">
	    </div>


        <br>

        </select><br><br>
	</div><br>
	<div id="footer" align=center >
		<button id="ready"> Ready </button>
	</div>

<script src="js/page2.js"></script>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>
