<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>

		<img align=right id=burgermenu src="menu.png" width="30">
		<h1  align=center>_______________________________________________________________________________________</h1>
		<br>
		<br>

    <h1  align=center>Time Elapsed</h1>
		<h1  align=center>hr          min          sec</h1>
		<br>
		<br>


		<h1  align=center>_______________________________________________________________________________________</h1>


		<h1  align=center>Time Until Next Break</h1>
		<h1  align=center>min           sec</h1>
		<br>
		<br>


		<h1  align=center>_______________________________________________________________________________________</h1>
</div>
</body>
</html>
