<html>
<head>
	<title>Anti-Distraction App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">

</head>
<body>
	<div id="body">
		<h3  align=center>How long will you work for?</h3>
		<select class="dropdownmenu">
          <option value="1hour">10 minutes</option>
          <option value="2hours">20 minutes</option>
          <option value="3hours">30 minutes</option>
          <option value="4hours">40 minutes</option>
        </select>
		<br>
		<h3  align=center>What is your goal for this work session?</h3>
		<div align=center> <input type="text" id="goal" name="goal">
		</div>
        <br>
		<h3  align=center>How often would you like to take a break?</h3>
		<select class="dropdownmenu">
            <option value="10">Every 10 minutes</option>
            <option value="15">Every 15 minutes</option>
            <option value="20">Every 20 minutes</option>
            <option value="30">Every 30 minutes</option>
        </select><br><br>
	</div><br>
	<div id="footer" align=center >
		<a id="start" href=page3>Ready</a>
	</div>

</body>
</html>
