body{
    background: linear-gradient(154.73deg, #FED7D7 32.12%, rgba(236, 119, 119, 0.77) 99.14%);
    font-family: courier, Monospace;
}

html,body{
    height:100%;
}

#body, #timer{
    padding-top: 10%;
}

select{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

label{
    color: white;
    font-size: 18px;
}

#logo{
    max-width: 300px;
    height: auto;
    margin: auto;
}

#breakcup {
    max-width: 100px;
    height: auto;
    margin: auto;
}

#finishstars{
    max-width: 200px;
    height: auto;
    margin: auto;
}

button,#login{
    background: #FED7D7;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

a,#ready, #play,#pause, #reset, #takebreak, #break, #yes, #no{
    color:#FE7474;
    text-decoration: none;
    font-family: Courier,Monospace;
}

h1{
    color: #FE7474;
    font-weight: normal;
}

h2{
    color: white;
    font-weight: normal;
}

h4,h3{
    color: white;
    font-style: italic;
    font-weight: normal;
}


.dropdownmenu {
margin:auto;
display:block;

}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Firefox (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of Internet Explorer  10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Modal Content/Box */
.modal-content {
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float:right;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}


/* Close button on hover */
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

#goal {
  width: 250px;
  }
